<!DOCTYPE html>
<html class="popup">

<head>
  <title>param appender</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>

<body>
  <main>
    <h1>param appender</h1>

    <button id="options" class='button full options'>Options</button>

    <h2>quick append</h2>
    <label>parameter:</label>
    <input type="text" id="param">


    <button id="append" class='button full'>Quick Append</button>

    <div id='history-wrapper'>
      <h3>history</h3>
      <div id='history-entries'></div>
    </div>

    <div id="status"></div>

  </main>

  <script src="../scripts/popup.js"></script>
</body>

</html>