<!DOCTYPE html>
<html>

<head>
    <title>param appender options</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script src="/scripts/vue.min.js"></script>
</head>

<body>
    <main id='app'>
        <h1>param appender options</h1>

        <h2>Current Parameters:</h2>
        <div class="param-list">
            <div class="param-wrapper" v-for="(item, i) of items" :key="i">
                <button :class="{button: true, selected: i === selected}" @click.prevent="setParam(i)">
                    {{item.parameter}}
                </button>
            </div>
        </div>
        <button class="button full add-param" @click.prevent="newParam">
            Add Parameter
        </button>

        <h2>Configuration</h2>

        <div class="param-config-wrapper" v-if="selectedParam">
            <label>parameter:</label>
            <input type="text" v-model="selectedParam.parameter">

            <label>regex whitelist:</label>
            <span class='desc'>Put one expression per line. Expressions are called with the 'i' flag (case-insensitive).</span>
            <span class='desc'>Param will be appended if ANY expression matches (||).</span>
            <!-- <span class='desc'>Be careful of newlines! For extra safety, use the <code>list</code> mode.</code></span> -->
            <!-- <div class='button-group'>
                <button v-for="type in inputTypes" :key="type" @click.prevent="setInputType(type)" class="button">{{type}}</button>
            </div> -->
            <!-- <template v-if="inputType == 'text'"> -->
            <textarea v-model="selectedParam.whitelist"></textarea>
            <!-- </template>
            <template v-else> -->
            <!-- <div class='input-wrapper'>
                <div class='button-group' v-for="(line, i) in item.whitelist" :key="i">
                    <input v-model="item.whitelist[i]"></input>
                    <button class='button danger' @click.prevent="removeLine(i)">Remove</button>
                </div>
                <div class='button-group'>
                    <button class='button' @click.prevent="addLine()">Add</button>
                </div>
            </div> -->
            <!-- </template> -->
            <div class='warning-wrapper' v-if="warnings.length > 0">
                <span>Warning:</span>
                <div class='warning' v-for="warning of warnings">
                    {{ warning }}
                </div>
            </div>
            <button class="button full danger delete-param" @click.prevent="deleteParam(selected)">Delete</button>
        </div>
        <div class='status'>{{status}}</div>
        <button id="save" class='button full' @click.prevent="save">Save</button>
    </main>

    <script src="/scripts/options.js"></script>
</body>

</html>